body {
  background: #4d4d56;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
  user-select: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
  /* for vertical scrollbars */
  height: 10px;
  /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: #4d4d56;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

h1 {
  color: white;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 12px 0;
}

img {
  width: 72px;
  height: 72px;
  margin-top: 15px;
  border: 2px solid white;
  border-radius: 50%;
}

#name,
#gender {
  text-transform: capitalize;
}

/* remove fixed dimensions */

.words {
  font-size: 20px;
  background: gray;
  text-align: center;
  text-shadow: none;
  border-radius: 8px;
  padding: 4px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  display: inline-flex;
  margin: 10px;
}

.user-list {
  height: 100%;
  max-width: 1050px;
  display: flex;
  border-top: 5px solid goldenrod;
  flex-wrap: wrap;
  justify-content: center;
}

.user {
  white-space: nowrap;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 350px;
}

.value-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 15px;
}

@media screen and (max-width: 1250px) {
  .user {
    flex: 1 1 50% !important;
  }
}

@media screen and (max-width: 600px) {
  .user {
    flex: 1 1 100% !important;
  }
  .cssload-container {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -24px;
    margin-left: -24px;
  }
}

/* loader animation */

.cssload-container {
  width: 0;
  height: 49px;
  text-align: center;
}

.cssload-speeding-wheel {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 15px;
  border: 3px solid white;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 575ms infinite linear;
  -o-animation: cssload-spin 575ms infinite linear;
  -ms-animation: cssload-spin 575ms infinite linear;
  -webkit-animation: cssload-spin 575ms infinite linear;
  -moz-animation: cssload-spin 575ms infinite linear;
}

@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-spin {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-spin {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* arrows */

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  opacity: 0.0;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.value-container:hover i {
  opacity: 1.0;
}